{% extends "layout.html" %}

{% block nav %}
  <a href="/image">Images</a>
  <a href="/advanced">Advanced Search</a>
{% endblock %}

{% block form %}
  <form action="https://google.com/search">
    <div class="search-box">
      <input type="search" name="q">    
    </div>
    <div class="search-button">
      <!-- <button>Google Search</button>
      <button>I'm Feeling Lucky</button> -->

      <!-- It is btnI, not btnl(there's a blue underline indicating error). 
       As for chrome's font(and most sans-serif), display for I and l are very similar, l is slightly taller than I-->
      <!-- <input type="hidden" name="btnI" value="I'm Feeling Lucky"> -->
      <input type="submit" value="Google Search">
      <input type="submit" name="btnI" value="I'm Feeling Lucky">
    </div>


  </form>
{% endblock %}
